In [1]:
import pandas as pd

In [13]:
matches = pd.read_csv('matches.csv', index_col= 0)

In [14]:
matches.shape

(1680, 27)

In [15]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2023-08-13,14:00,Premier League,Matchweek 1,Sun,Away,D,2.0,2.0,Brentford,...,Match Report,NaN,18.0,6.0,19.6,0.0,0.0,0.0,2023,Tottenham Hotspur
1,2023-08-19,17:30,Premier League,Matchweek 2,Sat,Home,W,2.0,0.0,Manchester Utd,...,Match Report,NaN,17.0,6.0,13.8,0.0,0.0,0.0,2023,Tottenham Hotspur
2,2023-08-26,12:30,Premier League,Matchweek 3,Sat,Away,W,2.0,0.0,Bournemouth,...,Match Report,NaN,17.0,6.0,16.6,1.0,0.0,0.0,2023,Tottenham Hotspur
4,2023-09-02,15:00,Premier League,Matchweek 4,Sat,Away,W,5.0,2.0,Burnley,...,Match Report,NaN,21.0,11.0,19.3,0.0,0.0,0.0,2023,Tottenham Hotspur
5,2023-09-16,15:00,Premier League,Matchweek 5,Sat,Home,W,2.0,1.0,Sheffield Utd,...,Match Report,NaN,28.0,10.0,16.4,0.0,0.0,0.0,2023,Tottenham Hotspur

In [16]:
matches['team'].value_counts()

Tottenham Hotspur           84
Crystal Palace              84
Everton                     84
Brentford                   84
Wolverhampton Wanderers     84
Arsenal                     84
Chelsea                     84
Manchester United           84
Newcastle United            84
West Ham United             84
Brighton and Hove Albion    84
Aston Villa                 84
Liverpool                   84
Manchester City             84
Southampton                 76
Leeds United                76
Leicester City              76
Bournemouth                 46
Nottingham Forest           46
Burnley                     46
Fulham                      46
Watford                     38
Norwich City                38
Sheffield United             8
Luton Town                   8
Name: team, dtype: int64

In [17]:
matches['round'].value_counts()

Matchweek 1     60
Matchweek 3     60
Matchweek 4     60
Matchweek 5     60
Matchweek 6     60
Matchweek 7     60
Matchweek 8     60
Matchweek 2     60
Matchweek 33    40
Matchweek 26    40
Matchweek 27    40
Matchweek 29    40
Matchweek 30    40
Matchweek 31    40
Matchweek 35    40
Matchweek 34    40
Matchweek 28    40
Matchweek 24    40
Matchweek 36    40
Matchweek 37    40
Matchweek 32    40
Matchweek 25    40
Matchweek 21    40
Matchweek 12    40
Matchweek 23    40
Matchweek 22    40
Matchweek 20    40
Matchweek 19    40
Matchweek 18    40
Matchweek 17    40
Matchweek 16    40
Matchweek 15    40
Matchweek 14    40
Matchweek 13    40
Matchweek 11    40
Matchweek 10    40
Matchweek 9     40
Matchweek 38    40
Name: round, dtype: int64

In [18]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [19]:
matches['date']=pd.to_datetime(matches['date'])

In [20]:
# Create a predictor for the ML model (venue column as the model will only work with numerical values. Home advantage is a great predictor for possible win or loss)
matches['venue_code']= matches['venue'].astype('category').cat.codes

In [22]:
# Create a predictor for the ML model(Opponent column as the model will only work with numerical values)
matches['opp_code']= matches['opponent'].astype('category').cat.codes

In [24]:
# Create a predictor for the ML model(Hour column as the model will only work with numerical values. We are assuming that the time the match is been played affects performance)
matches['hour']= matches['time'].str.replace(":.+","",regex=True).astype('int')